{% extends 'base.html.twig' %}

{% block base_title %}
    {% block title %}{% endblock %}
{% endblock %}

{% block body %}
    <div style="background: #e9ecef">
        <nav class="navbar navbar-expand-lg navbar-light container shadow-sm">
            <a class="navbar-brand text-dark font-weight-bold ml-5" href="{{ path('fo_portal_detail', {'slug':portal.slug}) }}">{{ portal.name }}</a>
            <div class="navbar" id="navbarNav">
                <ul class="navbar-nav mr-auto ml-4">
                    <li class="nav-item active">
                        <a class="nav-link btn btn-primary text-light" href="{{ path('fo_portal_feedback_add', {'slug':portal.slug}) }}"><i class="bi bi-journal-plus"></i> Přidat feedback</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <main class="container mt-4 pb-5">
        {% include('shared_components/flash_messages_container.html.twig') %}

        {% block content %}{% endblock %}
    </main>

    <footer class="footer">
        <div class="container text-right">
            <span class="text-muted">Vytvořeno pomocí <a href="{{ path('fo_home') }}" class="text-secondary">{{ app_name }}</a></span>
        </div>
    </footer>
{% endblock %}