{% extends "front_office/portal/base.html.twig" %}

{% block content %}
    {% if(app.request.get('state')) %}
        {% set slugState = app.request.get('state').slug %}
    {% else %}
        {% set slugState = currentState.slug %}
    {% endif %}

    <ul class="nav nav-tabs justify-content-center mt-5">
        {% for state in states %}
            <li>
                <a href="{{ path('fo_portal_detail', {'slug':portal.slug, 'state':state.slug}) }}" class="nav-link {% if slugState == state.slug %}active{% endif %} }">{{ state.name }}</a>
            </li>
        {% endfor %}
    </ul>
    <div class="d-flex flex-nowrap mt-4">
    {% for feature in portalFeatures %}
        <div class="border border-secondary p-3 m-1 rounded">
            <strong>
                <a href="{{ path('fo_portal_feedback_feature', {'portal_slug':portal.slug, 'feature_id':feature.id}) }}">{{ feature.name }}</a>
                <span class="badge badge-warning">{{ feature.feedbackCount }}</span>
            </strong><br />
            {{ feature.description }}
        </div>
    {% endfor %}
    </div>


{% endblock %}