<div class="mb-5 border-bottom pb-2">
    <h2 class="h4">
        {{ feature.name }}
        <span class="badge badge-warning">{{ feature.feedbackCount }}</span>
    </h2>
    {% if feature.image %}
        <p><img src="{{ asset(upload_directory ~ '/' ~ feature.image.name) }}"
                alt="{{ feature.name }}" style="max-width:500px" /></p>
    {% endif %}
    <p>{{ feature.description }}</p>
</div>