{% extends "back_office/base.html.twig" %}

{% block content %}
    {% include('back_office/components/feedback_header.html.twig') %}

    {% include('back_office/components/feedback_tabs.html.twig') %}

    <p>
        {% for relatedFeature in relatedFeatureList %}
            <span class="p-1">
                <a href="{{ path('bo_feature_detail', { 'company_slug': app.user.slug, 'feature_id': relatedFeature.id } ) }}"
                   class="badge badge-info">{{ relatedFeature.name }}</a>
                <a href="{{ path('bo_feedback_relation_delete', {'company_slug': app.user.slug, 'feedback_id': feedback.id, 'feature_id': relatedFeature.id, 'p':'feedback' } ) }}"
                   class="badge badge-danger font-weight-bold"><span aria-hidden="true">&times;</span></a>
            </span>
        {% endfor %}
    </p>
    <h2 class="h4 mt-4">Přidat</h2>
    <p>
        {% if unrelatedFeatureList %}
            {% for unrelatedFeature in unrelatedFeatureList %}
                <span class="p-1">
                <a href="{{ path('bo_feature_detail', { 'company_slug': app.user.slug, 'feature_id': unrelatedFeature.id } ) }}"
                   class="badge badge-info">{{ unrelatedFeature.name }}</a>
                <a href="{{ path('bo_feedback_relation_add', {'company_slug': app.user.slug, 'feedback_id': feedback.id, 'feature_id': unrelatedFeature.id, 'p':'feedback' } ) }}"
                   class="badge badge-success font-weight-bold">Přidat</a>
            </span>
            {% endfor %}
        {% else %}
            Žádné další featury k propojení.
        {% endif %}
    </p>
{% endblock %}