{% extends "back_office/base.html.twig" %}

{% block content %}


    <h1 class="h3">Feedbacks</h1>
    <a href="{{ path('bo_feedback_add', {'slug':app.user.slug}) }}" class="btn btn-primary mt-3" role="button">Přidat feedback</a>
    <table class="table table-striped mt-5">
        {% for feedback in feedbacks %}
        <tr>
            {% if feedback.isNew %}
                <td class="text-danger font-weight-bold">Nový</td>
            {% else %}
                <td></td>
            {% endif %}
            {% if feedback.fromPortal %}
                <td class="text-info">Portal</td>
            {% else %}
                <td></td>
            {% endif %}
            <td>{{ feedback.description }}</td>
            <td>{{ feedback.createdAt|date('Y-m-d h:m:s') }}</td>
            <td><a href="{{ path('bo_feedback_change_status', {'company_slug': app.user.slug, 'feedback_id': feedback.id}) }}">
                    {% if feedback.isNew %}
                        Přečtený
                    {% else %}
                        Nový
                    {% endif %}
                </a></td>
            <td><a href="{{ path('bo_feedback_detail', {'company_slug': app.user.slug, 'feedback_id': feedback.id}) }}">Detail</a></td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}