{% extends "back_office/base.html.twig" %}

{% block title %}Feedbacks{% endblock %}

{% block content %}

    <h1 class="h3">Feedbacks</h1>
    <a href="{{ path('bo_feedback_add', {'slug':app.user.slug}) }}" class="btn btn-primary mt-3 mb-4" role="button">Přidat feedback</a>

    <p class="mb-0 pb-0 mt-3"><a data-toggle="collapse" href="#filters" aria-expanded="false" aria-controls="filters"
                                 class="font-weight-bold">
            <i class="bi bi-search"></i>
            &nbsp;Rozšířené vyhledávání</a></p>
    <div class="collapse card mt-4 p-4 {% if isFiltered %}show{% endif %}" id="filters">
        {{ form(form) }}
    </div>

    {% if feedbackList is not empty %}
        <table class="table table-striped mt-3" id="{{ scrollTo }}">
            {% for feedback in feedbackList %}
                <tr>
                    <td class="px-4 text-center pt-3" style="font-size: 12px">
                        <a href="{{ path('bo_feedback_change_status', {'company_slug': app.user.slug, 'feedback_id': feedback.id, 'p':redirectTo, 'isNew':isNew, 'fulltext':fulltext}) }}"
                        {% if feedback.isNew %}
                               class="text-danger" data-toggle="tooltip" data-placement="top" title="Označit za zpracovaný">
                               <i class="bi bi-circle-fill"></i>
                        {% else %}
                               class="text-dark" data-toggle="tooltip" data-placement="top" title="Označit za nový">
                               <i class="bi bi-circle"></i>
                        {% endif %}
                        </a>
                    </td>
                    <td>
                        <div class="pb-4" style="font-size:18px">
                            <a href="{{ path('bo_feedback_detail', {'company_slug': app.user.slug, 'feedback_id': feedback.id}) }}">
                                {{ feedback.description|length > 80 ? feedback.description|slice(0, 80) ~ '...' : feedback.description  }}
                                <i class="bi bi-arrow-right-square-fill"></i>
                            </a>
                        </div>
                        <div class="text-secondary align-middle" style="font-size: 14px">
                            {{ feedback.createdAt|date('d.m.y') }}
                            {% if feedback.source %}
                                <i class="bi bi-dot text-dark"></i>
                                {{ feedback.source|length > 80 ? feedback.source|slice(0, 80) ~ '...' : feedback.source  }}
                            {% endif %}
                            {% if feedback.fromPortal %}
                                <i class="bi bi-dot text-dark"></i>
                                <span class="badge-info badge">Portal</span>
                            {% endif %}
                        </div>
                    </td>
                    <td class="align-middle"><a href="{{ path('bo_feedback_edit', {'company_slug': app.user.slug, 'feedback_id': feedback.id}) }}" class="btn btn-outline-primary">
                            <i class="bi bi-pencil-square"></i>
                        </a></td>
                    <td class="align-middle"><a href="{{ path('bo_feedback_delete', {'company_slug': app.user.slug, 'feedback_id': feedback.id}) }}" class="btn btn-outline-danger"
                                {% include('back_office/components/delete_confirmation.html.twig') %}>
                            <i class="bi bi-trash-fill"></i>
                        </a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
            <p class="mt-5 lead">Zatím nemáte žádné feedbacks.</p>
    {% endif %}

{% endblock %}