{% extends "back_office/base.html.twig" %}

{% if app.request.get('_route') == 'bo_feature_add' %}
    {% set title_start = 'Přidat' %}
{% else %}
    {% set title_start = 'Upravit' %}
{% endif %}

{% block title %}{{ title_start }} feature{% endblock %}

{% block content %}
        <h1 class="h3 mb-4">{{ title_start }} feature</h1>

        {{ form_start(form) }}

            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
            {{ form_row(form.state) }}

            {% if form.tags is not defined %}
                <div class="form-group">
                    <label>Tagy</label>
                    <p>Zatím nemáte žádné tagy. <a href="{{ path('bo_feature_tag_add', {'slug':app.user.slug}) }}">Přidejte první</a>.</p>
                </div>
            {% else %}
                {{ form_row(form.tags) }}
            {% endif %}

        {{ form_end(form) }}

{% endblock %}