{% extends "back_office/base.html.twig" %}

{% block content %}

    <ul>
        <li>score: {{ feature.score }}</li>
        <li>name: {{ feature.name }}</li>
        <li>description: {{ feature.description  }}</li>
        <li>created_at: {{ feature.createdAt|date('Y-m-d h:m:s') }}</li>
        <li>updated_at: {{ feature.updatedAt|date('Y-m-d h:m:s') }}</li>
    </ul>
    <h2>Tags</h2>
    <ul>
        {% for tag in tags %}
            <li>{{ tag.name }}</li>
        {% endfor %}
    </ul>
    <h2>Feedbacks</h2>
    <ul>
        {% for feedback in feedbackList %}
            <li>
                <a href="{{ path('feedback-detail', {'company_slug': companySlug, 'feedback_id': feedback.id} ) }}">{{ feedback.description }}</a>
                <a href="{{ path('delete-ff-relation', {'company_slug': companySlug, 'feedback_id': feedback.id, 'feature_id': feature.id, 'p':'feature' } ) }}">Smazat</a>
            </li>
        {% endfor %}
    </ul>
    <h3>Přidat nový feedback</h3>
    {{ form(form) }}
{% endblock %}