{% extends "back_office/base.html.twig" %}

{% block content %}
    <h1 class="h3 text-center">{{ feature.name }}</h1>
    <p class="text-center">
        {% for tag in feature.tags %}
            <span class="badge badge-info">{{ tag.name }}</span>
        {% endfor %}
    </p>
    <p class="text-center text-secondary">Přidáno {{ feature.createdAt|date('Y.m h:m') }}</p>
    <p class="text-right">
        <a href="" class="btn btn-outline-primary">Upravit</a>
        <a href="" class="btn btn-outline-danger">Smazat</a>
    </p>
    <ul class="nav nav-tabs mb-4">
        <li class="nav-item">
            <a class="nav-link" href="#">Popis</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Feedbacks</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Portal</a>
        </li>
    </ul>
    <ul>
        {% for feedback in feedbackList %}
            <li>
                <a href="{{ path('bo_feedback_detail', {'company_slug': companySlug, 'feedback_id': feedback.id} ) }}">{{ feedback.description }}</a>
                <a href="{{ path('bo_feedback_relation_delete', {'company_slug': companySlug, 'feedback_id': feedback.id, 'feature_id': feature.id, 'p':'feature' } ) }}">Smazat</a>
            </li>
        {% endfor %}
    </ul>
    <h2 class="h4 mt-4 mb-4">Přidat nový feedback</h2>
    {{ form(form) }}
{% endblock %}