{% extends "back_office/base.html.twig" %}

{% block content %}
    {% include('back_office/components/feature_list_header.html.twig') %}

    <div class="d-flex flex-row w-100 flex-wrap mt-4" id="{{ scrollTo }}">
    {% for stateWithFeatures in features %}

        <div class="flex-fill w-{{ columnWidth }}" style="min-width: 200px">
            <div
                    class="h5 text-center pb-2 mb-0 pt-3 bg-light"
                    style="position: -webkit-sticky; position: sticky; top: 0;color:{{ stateWithFeatures.stateColor }}"
            >{{ stateWithFeatures.state }}</div>
            <div class="p-2">
                {% for feature in stateWithFeatures.features %}
                    <div class="rounded my-3 p-2" id="feature">
                        <div class="text-center pb-3">
                            <a class="text-secondary" href="{{ path('bo_feature_detail', { 'company_slug':app.user.slug, 'feature_id':feature.id }) }}">{{ feature.name }}</a>
                        </div>

                        <div class="pb-1" id="tags">
                        {% for tag in feature.tags %}

                            <div class="badge badge-info">{{ tag.name }}</div>

                        {% endfor %}
                        </div>

                        <div class="text-center pt-2 border-top">
                            {% if stateWithFeatures.isFirst == false  %}
                                <a href="{{ path('bo_feature_status_move', {'company_slug':app.user.slug, 'feature_id':feature.id, 'tags':tags, 'fulltext':fulltext, 'direction':'predchozi'}) }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                                        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                                    </svg>
                                </a>
                            {% endif %}

                            {% if stateWithFeatures.isLast == false %}
                                <a href="{{ path('bo_feature_status_move', {'company_slug':app.user.slug, 'feature_id':feature.id, 'tags':tags, 'fulltext':fulltext, 'direction':'nasledujici'}) }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                                        <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                                    </svg>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    {% endfor %}
    </div>

{% endblock %}