{% extends "back_office/base.html.twig" %}

{% block title %}
    {{ feature.name }}
{% endblock %}

{% block content %}
    {% include('back_office/components/feature_header.html.twig') %}

    {% include('back_office/components/feature_tabs.html.twig') %}

    {% if insightList is not empty %}
        <table class="table table-striped mt-5">
            {% for insight in insightList %}
                <tr>
                    <td class="align-middle"><a href="{{ path('bo_feedback_detail', {'company_slug': app.user.slug, 'feedback_id': insight.feedback.id}) }}">
                            {{ insight.feedback.description|length > 60 ? insight.feedback.description|slice(0, 60) ~ '...' : insight.feedback.description  }}
                            <i class="bi bi-arrow-right-square-fill"></i>
                        </a>
                    </td>
                    <td class="align-middle">
                        {% include 'back_office/components/weights_printer.html.twig'
                            with {'weight':insight.weight.number, 'weightName':insight.weight.name } %}
                    </td>
                    {% if insight.feedback.fromPortal %}
                        <td class="align-middle">
                            <span class="badge badge-info">Portal</span>
                        </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td class="align-middle"><a class="btn btn-outline-primary" href="{{ path('bo_insight_edit', {'company_slug':app.user.slug, 'insight_id':insight.id, 'p':redirectToFeature}) }}">
                            <i class="bi bi-pencil-square"></i>
                        </a></td>
                    <td class="align-middle"><a class="btn btn-outline-danger" href="{{ path('bo_insight_delete', {'company_slug':app.user.slug, 'insight_id':insight.id, 'p':redirectToFeature}) }}">
                            <i class="bi bi-x-square"></i>
                        </a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
            <p class="mt-5 lead">No insights yet.</p>
    {% endif %}

    <h2 class="h4 mt-4 mb-4">Add new insight</h2>
    {{ form(form) }}
{% endblock %}