{% extends "back_office/base.html.twig" %}

{% block content %}
    {% include('back_office/components/feedback_header.html.twig') %}

    {% include('back_office/components/feedback_tabs.html.twig') %}

    {% if insights %}
    <p>
        {% for insight in insights %}
            <span class="p-1">
                <a href="{{ path('bo_insight_edit', { 'company_slug': app.user.slug, 'insight_id':insight.id, 'p':redirectToFeedback } ) }}"
                   class="badge badge-info">{{ insight.feature.name }} ({{ insight.weight.name }})</a>
                <a href="{{ path('bo_insight_delete', {'company_slug': app.user.slug, 'insight_id':insight.id, 'p':redirectToFeedback } ) }}"
                   class="badge badge-danger font-weight-bold"><span aria-hidden="true">&times;</span></a>
            </span>
        {% endfor %}
    </p>
    {% endif %}

    <h2 class="h4 mt-4">Přidat</h2>

    <p class="mb-0 pb-0 mt-3"><a data-toggle="collapse" href="#filters" aria-expanded="false" aria-controls="filters"
                                 class="font-weight-bold">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
            &nbsp;Rozšířené vyhledávání</a></p>
    <div class="collapse card mt-4 p-4 {% if isFiltered %}show{% endif %}" id="filters">
        {{ form(form) }}
    </div>

    <p id="{{ scrollTo }}">
    {% if unrelatedFeatureList %}
        {% for unrelatedFeature in unrelatedFeatureList %}
            <span class="p-1">
                <a href="{{ path('bo_feature_detail', { 'company_slug': app.user.slug, 'feature_id': unrelatedFeature.id } ) }}"
                   class="badge badge-info">{{ unrelatedFeature.name }}</a>
                <a href="{{ path('bo_insight_feedback_add', {'company_slug': app.user.slug, 'feedback_id': feedback.id, 'feature_id': unrelatedFeature.id, 'p':redirectToFeedback } ) }}"
                   class="badge badge-success font-weight-bold">Přidat</a>
            </span>
        {% endfor %}
    {% else %}
        Žádné další featury k propojení.
    {% endif %}
    </p>
{% endblock %}