{% extends "base.html.twig" %}
{% block title %}
    {{ 'register_action'|trans }}
{% endblock %}
{% block body %}
    {{ 'home_title'|trans }}
    {% if app.user %}
        <div class="mb-3">
            Administrace<br />
            You are logged in as {{ app.user.username }}, <a href="{{ path('logout') }}">Logout</a>
        </div>
    {% endif %}
    <h2>Features</h2>
    <ul>
        {% for feature in features %}
            <li>
                <a href="{{ path('feature-detail', { 'company_slug': companySlug, 'feature_id': feature.id } ) }}">{{ feature.name }}</a>
                <a href="{{ path('edit-feature', { 'company_slug': companySlug, 'feature_id': feature.id } ) }}">Upravit</a>
                <a href="{{ path('delete-feature', { 'company_slug': companySlug, 'feature_id': feature.id } ) }}">Smazat</a>
                <p>{{ feature.state.name }}</p>
            </li>
        {% endfor %}
    </ul>

{% endblock %}