{% extends "base.html.twig" %}
{% block title %}
    {{ 'register_action'|trans }}
{% endblock %}
{% block body %}
    {{ 'home_title'|trans }}
    {% if app.user %}
        <div class="mb-3">
            Administrace<br />
            You are logged in as {{ app.user.username }}, <a href="{{ path('logout') }}">Logout</a>
            <a href="{{ path('add-feedback', {slug: companySlug}) }}">Přidat feedback</a>
            <a href="{{ path('add-feature', {slug: companySlug}) }}">Přidat feature</a>
        </div>
        <h2>Portal</h2>
        {{ form(form) }}
    {% endif %}
{% endblock %}