<h1 class="h3">Features</h1>

<a href="{{ path('bo_feature_add', {'slug':app.user.slug}) }}" class="btn btn-primary mt-3" role="button">Add feature</a>
<a href="{{ path('bo_feature_tag_list', {'slug':app.user.slug}) }}" class="btn btn-outline-secondary mt-3" role="button">Feature tags</a>

<p class="mb-0 pb-0 mt-5"><a data-toggle="collapse" href="#feature_state_filter" aria-expanded="false" aria-controls="feature_state_filter"
                             class="font-weight-bold">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
        &nbsp;Advanced search</a></p>

<div class="collapse card mt-4 p-4 {% if isFiltered %}show{% endif %}" id="feature_state_filter">
    {{ form_start(form) }}

    {% if app.request.get('_route') == 'bo_feature_list' %}

        {{ form_row(form.state) }}

    {% endif %}

    {{ form_row(form.fulltext) }}

    {%  if tagsExist %}
        {{ form_row(form.tags) }}
        {{ form_widget(form._token) }}
        {{ form_row(form.save) }}
        {{ form_end(form, {'render_rest':false}) }}
    {% else %}
        {{ form_widget(form._token) }}
        {{ form_row(form.save) }}
        {{ form_end(form, {'render_rest':false}) }}
    {% endif %}
</div>

<ul class="nav nav-tabs mt-2 justify-content-center">
    <li class="nav-item">
        <a class="nav-link {% if app.request.get('_route') == 'bo_feature_list' %}active{% endif %}"
           href="{{ path('bo_feature_list', {'slug':app.user.slug}) }}">List</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if app.request.get('_route') == 'bo_feature_list_roadmap' %}active{% endif %}"
           href="{{ path('bo_feature_list_roadmap', {'slug':app.user.slug}) }}">Roadmap</a>
    </li>
</ul>