{% if feedbackList is not empty %}
    <table class="table table-striped mt-5">
        {% for feedback in feedbackList %}
            <tr>
                {% if feedback.isNew %}
                    <td class="text-danger font-weight-bold">Nový</td>
                {% else %}
                    <td></td>
                {% endif %}
                {% if feedback.fromPortal %}
                    <td class="text-info">Portal</td>
                {% else %}
                    <td></td>
                {% endif %}
                <td><a href="{{ path('bo_feedback_detail', {'company_slug': app.user.slug, 'feedback_id': feedback.id}) }}">
                        {{ feedback.description }}
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-square-fill" viewBox="0 0 16 16">
                            <path d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v12zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1z"/>
                        </svg>
                    </a>
                </td>
                <td>{{ feedback.createdAt|date('Y.m.d h:m') }}</td>
                {% if app.request.get('_route') == 'bo_feedback_list' %}
                    <td><a href="{{ path('bo_feedback_change_status', {'company_slug': app.user.slug, 'feedback_id': feedback.id, 'p':app.request.get('_route')}) }}">
                            {% if feedback.isNew %}
                                Přečtený
                            {% else %}
                                Nový
                            {% endif %}
                        </a></td>
                    <td><a href="{{ path('bo_feedback_edit', {'company_slug': app.user.slug, 'feedback_id': feedback.id}) }}">Upravit</a></td>
                    <td><a href="{{ path('bo_feedback_delete', {'company_slug': app.user.slug, 'feedback_id': feedback.id}) }}">Smazat</a></td>
                {% endif %}
                {% if app.request.get('_route') == 'bo_feature_feedback' %}
                    <td><a href="{{ path('bo_feedback_relation_delete', {'company_slug':app.user.slug, 'feedback_id':feedback.id, 'feature_id':feature.id, 'p':'feature'}) }}">Odebrat propojení</a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% else %}

    {% if app.request.get('_route') == 'bo_feedback_list' %}
        <p class="mt-5 lead">Zatím nemáte žádné feedbacks.</p>
    {% endif %}

{% endif %}