<div class="d-flex flex-nowrap mt-4">
    {% if portalFeatureList %}
        {% for feature in portalFeatureList %}
        <div class="border border-secondary p-3 m-1 rounded">
            <strong>
                <a href="

                {% if app.request.get('_route') == 'bo_portal_detail' %}
                    {{ path('bo_feature_portal', {'company_slug':app.user.slug, 'feature_id':feature.feature.id}) }}
                {% endif %}

                {% if app.request.get('_route') == 'fo_portal_detail' %}
                    {{ path('fo_portal_feature_detail', {'portal_slug':portal.slug, 'feature_id':feature.id}) }}
                {% endif %}

                ">{{ feature.name }}</a>
                <span class="badge badge-warning">{{ feature.feedbackCount }}</span>
            </strong><br />
            {% if feature.image %}
                <p><img src="{{ asset(upload_directory ~ '/' ~ feature.image.name) }}"
                        alt="{{ feature.name }}" style="max-width:500px" /></p>
            {% endif %}
            {{ feature.description }}
        </div>
        {% endfor %}
    {% else %}
        <div>Žádné featury.</div>
    {% endif %}
</div>