<div class="d-flex flex-row flex-wrap p-4 bg-light">
    {% if portalFeatureList %}

        {% for feature in portalFeatureList %}

        <div class="p-3 m-2 rounded border bg-white portal-card">
            <div class="d-flex flex-row">
                <div class="flex-grow-1" style="height:60px">
                    <a class="text-dark font-weight-bold" href="
                            {% if app.request.get('_route') == 'bo_portal_detail' %}
                                {{ path('bo_feature_portal', {'company_slug':app.user.slug, 'feature_id':feature.feature.id}) }}
                            {% endif %}

                            {% if app.request.get('_route') == 'fo_portal_detail' %}
                                {{ path('fo_portal_insight_add', {'portal_slug':portal.slug, 'feature_id':feature.id}) }}
                            {% endif %}
                            ">
                            {{ feature.name|length > 60 ?
                               feature.name|slice(0, 60) ~ '...'
                             : feature.name }}
                            </a>
                </div>
                <div class="px-3">
                    <span class="badge badge-warning"><i class="bi bi-person"></i> {{ feature.feedbackCount }}</span>
                </div>
            </div>
            <div>
                {% if feature.image %}
                    <img src="{{ asset(upload_directory ~ '/' ~ feature.image.name) }}"
                         alt="{{ feature.name }}" style="max-width:100%" />
                {% else %}
                    <p>
                    {{ feature.description|length > 250 ?
                    feature.description|slice(0, 250) ~ '...'
                    : feature.description }}
                    </p>
                {% endif %}
            </div>
        </div>

        {% endfor %}

    {% else %}
        <div>No features.</div>
    {% endif %}
</div>