{% extends "base.html.twig" %}

{% block body %}
    <div class="bg-primary">
        <nav class="navbar navbar-expand-lg navbar-light container">
            <button class="navbar-toggler border-light" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" style="color: white"></span>
            </button>
            <a class="navbar-brand text-light font-weight-bold" href="{{ path('bo_feedback_list', {'slug':app.user.slug}) }}"><i class="bi bi-front"></i> {{ app.user.name }}</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ path('bo_feedback_list', {'slug':app.user.slug}) }}">Feedbacks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ path('bo_feature_list', {'slug':app.user.slug}) }}">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ path('bo_portal_detail', {'slug':app.user.slug}) }}">Portal</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a href="{{ path('bo_settings_info', {'slug':app.user.slug}) }}" class="nav-link text-light"><i class="bi bi-gear"></i> Nastavení</a></li>
                        <li class="nav-item"><a href="{{ path('fo_logout') }}" class="nav-link text-light"><i class="bi bi-box-arrow-right"></i> Odhlásit</a></li>
                    </ul>
                </span>
            </div>
        </nav>
    </div>

    <div style="background-color: #f5f5f5;">
        <nav class="navbar navbar-expand-lg navbar-light container">
            <div class="navbar my-0 py-0">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('bo_feedback_add', {'slug':app.user.slug}) }}"><i class="bi bi-plus"></i> Přidat feedback</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('bo_feature_add', {'slug':app.user.slug}) }}"><i class="bi bi-plus"></i> Přidat feature</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <main class="container mt-4 pb-5">
        {% include('shared_components/flash_messages_container.html.twig') %}

        {% block content %}{% endblock %}
    </main>

    <footer class="footer">
        <div class="container text-right">
            <span class="text-muted">{{ app_name }} &copy; 2021 {{ author }}</span>
        </div>
    </footer>
{% endblock %}