{% extends "base.html.twig" %}
{% block title %}
    {{ 'register_action'|trans }}
{% endblock %}
{% block body %}
    {{ 'home_title'|trans }}
    {% if app.user %}
        <div class="mb-3">
            Administrace<br />
            You are logged in as {{ app.user.username }}, <a href="{{ path('logout') }}">Logout</a>
        </div>
    {% endif %}
    <h2>Feature tags</h2>
    <ul>
        {% for tag in tags %}
            <li>
               {{ tag.name }}
                <a href="{{ path('edit-feature-tag', {'company_slug': slug, 'tag_id':tag.id }) }}">Upravit</a>
                <a href="{{ path('delete-feature-tag', {'company_slug': slug, 'tag_id':tag.id }) }}">Smazat</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}