{% extends "base.html.twig" %}
{% block title %}
    {{ 'register_action'|trans }}
{% endblock %}
{% block body %}
    {{ 'home_title'|trans }}
    {% if app.user %}
        <div class="mb-3">
            Administrace<br />
            You are logged in as {{ app.user.username }}, <a href="{{ path('logout') }}">Logout</a>
        </div>
    {% endif %}
    <ul>
      <li>description: {{ feedback.description }}</li>
      <li>source: {{ feedback.source  }}</li>
      <li>created_at: {{ feedback.createdAt|date('Y-m-d h:m:s') }}</li>
      <li>updated_at: {{ feedback.updatedAt|date('Y-m-d h:m:s') }}</li>
      <li>status: {{ feedback.status }}</li>
    </ul>
    <h2>Features</h2>
    <ul>
        {% for relatedFeature in relatedFeatures %}
            <li>
                <a href="{{ path('feature-detail', { 'company_slug': companySlug, 'feature_id': relatedFeature.id } ) }}">{{ relatedFeature.name }}</a>
                <a href="{{ path('delete-ff-relation', {'company_slug': companySlug, 'feedback_id': feedback.id, 'feature_id': relatedFeature.id, 'p':'feedback' } ) }}">Smazat</a>
            </li>
        {% endfor %}
    </ul>
    <h2>Features to add</h2>
    <ul>
    {% for unrelatedFeature in unrelatedFeatures %}
        <li>
           <a href="{{ path('add-ff-relation', {'company_slug': companySlug, 'feedback_id':feedback.id, 'feature_id':unrelatedFeature.id } ) }}">{{ unrelatedFeature.name }} [přidat]</a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}