{% extends "base.html.twig" %}
{% block title %}
    {{ 'register_action'|trans }}
{% endblock %}
{% block body %}
    {{ 'home_title'|trans }}
    {% if app.user %}
        <div class="mb-3">
            Administrace<br />
            You are logged in as {{ app.user.username }}, <a href="{{ path('logout') }}">Logout</a>
        </div>
    {% endif %}
    <h2>Feedbacks</h2>
    <ul>
    {% for feedback in feedbacks %}
        <li>
            {{ feedback.description }}
            <a href="{{ path('edit-feedback', {'company_slug': companySlug, 'feedback_id': feedback.id} ) }}">Upravit</a>
            <a href="{{ path('delete-feedback', {'company_slug': companySlug, 'feedback_id': feedback.id} ) }}">Odstranit</a>
        </li>
    {% endfor %}
    </ul>

{% endblock %}